
**Goal:**

Understand what Pandas is and get comfortable creating & exploring DataFrames.

**DataFrame Creation**
  
***Create a DataFrame of students (Name, Age, Marks) from a dictionary***

In [6]:
#dataframe creation

import pandas as pd
df = pd.DataFrame({"Name":["Vidya", "Sree", "Lakshmi"], 
                   "Age":[21, 20, 24],
                   "Marks": [860, 780, 978]})
print("DATAFRAME:\n", df)

DATAFRAME:
       Name  Age  Marks
0    Vidya   21    860
1     Sree   20    780
2  Lakshmi   24    978


**Use:**
  
***.head() .tail() .info() .describe()***

In [4]:
import pandas as pd

df = pd.read_excel("E:/Vidya Career/IT JOB/Data Analyst Path/Excel/Pandas practice.xlsx")
print("DataFrame:\n\n",df)
print("-----------------------------------------------------------")
print("TOP 5 ROWS:\n",df.head()) #returns top 5 rows
print("-----------------------------------------------------------")
print("BOTTOM 5 ROWS:\n",df.tail()) #returns bottom 5 rows
print("-----------------------------------------------------------")
print("INFORMATION ABOUT THE DATASET\n",df.info())
print("-----------------------------------------------------------")
print("DESCRIPTIVE STATISTICS:\n", df.describe())

DataFrame:

    S.No          Name        Street Food  No.of items  Amount
0     1         Arjun          Pani Puri           40     400
1     2       Phalgun          Misal Pav            4     160
2     3         Parth             Samosa            5      50
3     4        Kiriti            Kachori            9      45
4     5     Dhananjay  Paneer Manchurian            3     360
5     6  Swethavaahan          Pav Bhaji            6     300
6     7     Bheebhats        Masala Puri            2      80
7     8       Krishna           Vada Pav            6     120
8     9    Savyasachi          Bhel Puri            2      60
9    10         Vijay        Ragada Chat            5     100
-----------------------------------------------------------
TOP 5 ROWS:
    S.No       Name        Street Food  No.of items  Amount
0     1      Arjun          Pani Puri           40     400
1     2    Phalgun          Misal Pav            4     160
2     3      Parth             Samosa            5      50
3     4     Kiriti            Kachori            9      45
4     5  Dhananjay  Paneer Manchurian            3     360
-----------------------------------------------------------
BOTTOM 5 ROWS:
    S.No          Name  Street Food  No.of items  Amount
5     6  Swethavaahan    Pav Bhaji            6     300
6     7     Bheebhats  Masala Puri            2      80
7     8       Krishna     Vada Pav            6     120
8     9    Savyasachi    Bhel Puri            2      60
9    10         Vijay  Ragada Chat            5     100
-----------------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   S.No         10 non-null     int64
 1   Name         10 non-null     object
 2   Street Food  10 non-null     object
 3   No.of items  10 non-null     int64
 4   Amount       10 non-null     int64
dtypes: int64(3), object(2)
memory usage: 532.0+ bytes
INFORMATION ABOUT THE DATASET
 None
-----------------------------------------------------------
DESCRIPTIVE STATISTICS:
            S.No  No.of items      Amount
count  10.00000    10.000000   10.000000
mean    5.50000     8.200000  167.500000
std     3.02765    11.370527  134.809536
min     1.00000     2.000000   45.000000
25%     3.25000     3.250000   65.000000
50%     5.50000     5.000000  110.000000
75%     7.75000     6.000000  265.000000
max    10.00000    40.000000  400.000000


**Print number of rows & columns**

In [13]:
print("Rows:", df.shape[0])
print("Columns:", df.shape[1])

Rows: 10
Columns: 5


**Column Access**

***Access one column, Access multiple columns, Add a new column***

In [18]:
print("One Column:\n", df["Street Food"])

One Column:
          Street Food
0          Pani Puri
1          Misal Pav
2             Samosa
3            Kachori
4  Paneer Manchurian
5          Pav Bhaji
6        Masala Puri
7           Vada Pav
8          Bhel Puri
9        Ragada Chat

In [19]:
print("Accessing Multiple Columns:\n")
df[["Name", "Street Food", "Amount"]]

Accessing Multiple Columns:

           Name        Street Food  Amount
0         Arjun          Pani Puri     400
1       Phalgun          Misal Pav     160
2         Parth             Samosa      50
3        Kiriti            Kachori      45
4     Dhananjay  Paneer Manchurian     360
5  Swethavaahan          Pav Bhaji     300
6     Bheebhats        Masala Puri      80
7       Krishna           Vada Pav     120
8    Savyasachi          Bhel Puri      60
9         Vijay        Ragada Chat     100

In [21]:
#adding a new column

def quality(amount):
    if amount>=100:
        return "Expensive"
        
df["Quality"] = df["Amount"].map(quality)
print(df)

   S.No          Name        Street Food  No.of items  Amount    Quality
0     1         Arjun          Pani Puri           40     400  Expensive
1     2       Phalgun          Misal Pav            4     160  Expensive
2     3         Parth             Samosa            5      50       None
3     4        Kiriti            Kachori            9      45       None
4     5     Dhananjay  Paneer Manchurian            3     360  Expensive
5     6  Swethavaahan          Pav Bhaji            6     300  Expensive
6     7     Bheebhats        Masala Puri            2      80       None
7     8       Krishna           Vada Pav            6     120  Expensive
8     9    Savyasachi          Bhel Puri            2      60       None
9    10         Vijay        Ragada Chat            5     100  Expensive


**Handling Missing & Duplicate Data**

***isnull(), notnull(),dropna(),fillna()***

In [7]:
import pandas as pd

df = pd.read_csv("E:/Vidya Career/IT JOB/Data Analyst Path/Excel/Datasets for practice/Datasets/Datasets in 20 Excel Shortcuts to Speed Up Your Workflow youtube video description/Grocery_Sales_Dataset.csv")
print(df)

   Order ID        Date Customer First Name Customer Middle Name  \
0   ORD1000  21-01-2024               Priya               Sharma
1   ORD1001  29-01-2024               Rahul                Verma
2   ORD1002  26-01-2024               Priya               Sharma
3   ORD1003  26-01-2024               Priya               Sharma
4   ORD1004  30-01-2024               Vikas                Yadav
..      ...         ...                 ...                  ...
83  ORD1083  09-01-2024               Manoj                Mehta
84  ORD1084  01-01-2024               Priya               Sharma
85  ORD1085  03-01-2024               Priya               Sharma
86  ORD1086  18-01-2024                Amit                Kumar
87  ORD1087  26-01-2024              Anjali               Mishra

           Product    Category  Quantity  Unit Price Payment Mode
0            Chips      Snacks         1      316.19         Cash
1         Potatoes  Vegetables         4      188.42   Debit Card
2            Sugar  Essentials         2      438.36          UPI
3           Coffee   Beverages         4       61.32  Credit Card
4           Butter       Dairy         2      353.50   Debit Card
..             ...         ...       ...         ...          ...
83         Shampoo   Household         4      257.96  Net Banking
84  Chicken Breast     Poultry         5      216.57          UPI
85        Tomatoes  Vegetables         3      494.57  Net Banking
86          Coffee   Beverages         3       21.40         Cash
87       Olive Oil        Oils         5      377.56  Net Banking

[88 rows x 9 columns]

In [9]:
print(df.isnull().sum())

Order ID                0
Date                    0
Customer First Name     0
Customer Middle Name    0
Product                 0
Category                0
Quantity                0
Unit Price              0
Payment Mode            0
dtype: int64

In [10]:
import pandas as pd

df = pd.read_excel("E:/Vidya Career/IT JOB/Data Analyst Path/Excel/Datasets for practice/Datasets/Datasets in 20 Excel Shortcuts to Speed Up Your Workflow youtube video description/expenses tracker.xlsx")
print(df)

         Date    Category       Sub-Category    Amount Payment Mode
0  2023-02-01     Grocery  Fruits and Veggies    456.0         Cash
1  2023-02-02     Grocery                Milk     26.0          UPI
2  2023-02-03        Food          Restaurant    560.0          UPI
3  2023-02-04        Food  Fruits and Veggies    660.0         Cash
4  2023-02-05        Food              Zomato    400.0          UPI
5  2023-02-06         NaN                 NaN    200.0          UPI
6  2023-02-06     Grocery           Chocolate    100.0         Cash
7  2023-02-08     Grocery      Bread and Milk     56.0         Cash
8  2023-02-09     Grocery             Grocery     30.0         Cash
9  2023-02-10        Food          Restaurant   1200.0          UPI
10 2023-02-11  Essentials             Shampoo    780.0         Cash
11 2023-02-11  Essentials            Food Oil    120.0          UPI
12 2023-02-11  Essentials                 NaN      NaN          UPI
13 2023-02-14  Essentials      Salt and Sugar     50.0         Cash
14 2023-02-15         NaN                 NaN   1890.0          UPI
15 2023-02-17     Clothes               Dress   1000.0         Card
16 2023-02-17       Bills          House Rent  16000.0          UPI
17 2023-02-18       Bills             Mobile    1650.0          UPI
18 2023-02-19       Bills                 NaN   1074.0         Cash
19 2023-02-20     Colthes               Dress     10.0          UPI
20 2023-02-21        Food          Restaurant     15.0          UPI
21 2023-02-22  Essentials           Bedsheets   1025.0         Cash
22 2023-02-23     Grocery           Chocolate     70.0          UPI
23 2023-02-24        Food              Zomato    230.0          UPI
24 2023-02-25  Essentials             Perfume   1500.0         Cash
25 2023-02-15  Essentials           Lunch Box    890.0         Cash
26 2023-02-10     Grocery           Chocolate    150.0         Cash
27 2023-02-15     Grocery               Maggi    140.0          UPI
28 2023-02-23        Food          Restaurant    780.0         Card

In [12]:
print("CHECK THE NaN VALUES:\n")
print(df.isnull())
print("-----------------------------------------------------------------------------------------")
print("SUM OF THE NaN VALUES:\n")
print(df.isnull().sum())

CHECK THE NaN VALUES:

     Date  Category  Sub-Category   Amount  Payment Mode
0   False     False          False   False         False
1   False     False          False   False         False
2   False     False          False   False         False
3   False     False          False   False         False
4   False     False          False   False         False
5   False      True           True   False         False
6   False     False          False   False         False
7   False     False          False   False         False
8   False     False          False   False         False
9   False     False          False   False         False
10  False     False          False   False         False
11  False     False          False   False         False
12  False     False           True    True         False
13  False     False          False   False         False
14  False      True           True   False         False
15  False     False          False   False         False
16  False     False          False   False         False
17  False     False          False   False         False
18  False     False           True   False         False
19  False     False          False   False         False
20  False     False          False   False         False
21  False     False          False   False         False
22  False     False          False   False         False
23  False     False          False   False         False
24  False     False          False   False         False
25  False     False          False   False         False
26  False     False          False   False         False
27  False     False          False   False         False
28  False     False          False   False         False
-----------------------------------------------------------------------------------------
SUM OF THE NaN VALUES:

Date             0
Category         2
Sub-Category     4
Amount           1
Payment Mode     0
dtype: int64

In [15]:
print("VALUES NULL OR NOT NULL:\n")
print(df.notnull())
print("---------------------------------------------------------------------------------")
print("SUM OF THE NOT NULL VALUES:\n")
df.notnull().sum()

VALUES NULL OR NOT NULL:

    Date  Category  Sub-Category   Amount  Payment Mode
0   True      True           True    True          True
1   True      True           True    True          True
2   True      True           True    True          True
3   True      True           True    True          True
4   True      True           True    True          True
5   True     False          False    True          True
6   True      True           True    True          True
7   True      True           True    True          True
8   True      True           True    True          True
9   True      True           True    True          True
10  True      True           True    True          True
11  True      True           True    True          True
12  True      True          False   False          True
13  True      True           True    True          True
14  True     False          False    True          True
15  True      True           True    True          True
16  True      True           True    True          True
17  True      True           True    True          True
18  True      True          False    True          True
19  True      True           True    True          True
20  True      True           True    True          True
21  True      True           True    True          True
22  True      True           True    True          True
23  True      True           True    True          True
24  True      True           True    True          True
25  True      True           True    True          True
26  True      True           True    True          True
27  True      True           True    True          True
28  True      True           True    True          True
---------------------------------------------------------------------------------
SUM OF THE NOT NULL VALUES:

Date             29
Category         27
Sub-Category     25
Amount           28
Payment Mode     29
dtype: int64

In [16]:
#dropna - dropping the null values
print("DATASET AFTER DROPPING THE NaN VALUES:\n")
print(df.dropna())

DATASET AFTER DROPPING THE NaN VALUES:

         Date    Category       Sub-Category    Amount Payment Mode
0  2023-02-01     Grocery  Fruits and Veggies    456.0         Cash
1  2023-02-02     Grocery                Milk     26.0          UPI
2  2023-02-03        Food          Restaurant    560.0          UPI
3  2023-02-04        Food  Fruits and Veggies    660.0         Cash
4  2023-02-05        Food              Zomato    400.0          UPI
6  2023-02-06     Grocery           Chocolate    100.0         Cash
7  2023-02-08     Grocery      Bread and Milk     56.0         Cash
8  2023-02-09     Grocery             Grocery     30.0         Cash
9  2023-02-10        Food          Restaurant   1200.0          UPI
10 2023-02-11  Essentials             Shampoo    780.0         Cash
11 2023-02-11  Essentials            Food Oil    120.0          UPI
13 2023-02-14  Essentials      Salt and Sugar     50.0         Cash
15 2023-02-17     Clothes               Dress   1000.0         Card
16 2023-02-17       Bills          House Rent  16000.0          UPI
17 2023-02-18       Bills             Mobile    1650.0          UPI
19 2023-02-20     Colthes               Dress     10.0          UPI
20 2023-02-21        Food          Restaurant     15.0          UPI
21 2023-02-22  Essentials           Bedsheets   1025.0         Cash
22 2023-02-23     Grocery           Chocolate     70.0          UPI
23 2023-02-24        Food              Zomato    230.0          UPI
24 2023-02-25  Essentials             Perfume   1500.0         Cash
25 2023-02-15  Essentials           Lunch Box    890.0         Cash
26 2023-02-10     Grocery           Chocolate    150.0         Cash
27 2023-02-15     Grocery               Maggi    140.0          UPI
28 2023-02-23        Food          Restaurant    780.0         Card

In [17]:
#running the dataset again
df = pd.read_excel("E:/Vidya Career/IT JOB/Data Analyst Path/Excel/Datasets for practice/Datasets/Datasets in 20 Excel Shortcuts to Speed Up Your Workflow youtube video description/expenses tracker.xlsx")
print(df)

         Date    Category       Sub-Category    Amount Payment Mode
0  2023-02-01     Grocery  Fruits and Veggies    456.0         Cash
1  2023-02-02     Grocery                Milk     26.0          UPI
2  2023-02-03        Food          Restaurant    560.0          UPI
3  2023-02-04        Food  Fruits and Veggies    660.0         Cash
4  2023-02-05        Food              Zomato    400.0          UPI
5  2023-02-06         NaN                 NaN    200.0          UPI
6  2023-02-06     Grocery           Chocolate    100.0         Cash
7  2023-02-08     Grocery      Bread and Milk     56.0         Cash
8  2023-02-09     Grocery             Grocery     30.0         Cash
9  2023-02-10        Food          Restaurant   1200.0          UPI
10 2023-02-11  Essentials             Shampoo    780.0         Cash
11 2023-02-11  Essentials            Food Oil    120.0          UPI
12 2023-02-11  Essentials                 NaN      NaN          UPI
13 2023-02-14  Essentials      Salt and Sugar     50.0         Cash
14 2023-02-15         NaN                 NaN   1890.0          UPI
15 2023-02-17     Clothes               Dress   1000.0         Card
16 2023-02-17       Bills          House Rent  16000.0          UPI
17 2023-02-18       Bills             Mobile    1650.0          UPI
18 2023-02-19       Bills                 NaN   1074.0         Cash
19 2023-02-20     Colthes               Dress     10.0          UPI
20 2023-02-21        Food          Restaurant     15.0          UPI
21 2023-02-22  Essentials           Bedsheets   1025.0         Cash
22 2023-02-23     Grocery           Chocolate     70.0          UPI
23 2023-02-24        Food              Zomato    230.0          UPI
24 2023-02-25  Essentials             Perfume   1500.0         Cash
25 2023-02-15  Essentials           Lunch Box    890.0         Cash
26 2023-02-10     Grocery           Chocolate    150.0         Cash
27 2023-02-15     Grocery               Maggi    140.0          UPI
28 2023-02-23        Food          Restaurant    780.0         Card

In [18]:
#fillna - filling the null values
#bfill - fills the below values into NaN 
#ffill - fills the above values into NaN
print("FILLING THE NaN VALUES USING bfill:\n")
print(df.bfill())

FILLING THE NaN VALUES USING bfill:

         Date    Category       Sub-Category    Amount Payment Mode
0  2023-02-01     Grocery  Fruits and Veggies    456.0         Cash
1  2023-02-02     Grocery                Milk     26.0          UPI
2  2023-02-03        Food          Restaurant    560.0          UPI
3  2023-02-04        Food  Fruits and Veggies    660.0         Cash
4  2023-02-05        Food              Zomato    400.0          UPI
5  2023-02-06     Grocery           Chocolate    200.0          UPI
6  2023-02-06     Grocery           Chocolate    100.0         Cash
7  2023-02-08     Grocery      Bread and Milk     56.0         Cash
8  2023-02-09     Grocery             Grocery     30.0         Cash
9  2023-02-10        Food          Restaurant   1200.0          UPI
10 2023-02-11  Essentials             Shampoo    780.0         Cash
11 2023-02-11  Essentials            Food Oil    120.0          UPI
12 2023-02-11  Essentials      Salt and Sugar     50.0          UPI
13 2023-02-14  Essentials      Salt and Sugar     50.0         Cash
14 2023-02-15     Clothes               Dress   1890.0          UPI
15 2023-02-17     Clothes               Dress   1000.0         Card
16 2023-02-17       Bills          House Rent  16000.0          UPI
17 2023-02-18       Bills             Mobile    1650.0          UPI
18 2023-02-19       Bills               Dress   1074.0         Cash
19 2023-02-20     Colthes               Dress     10.0          UPI
20 2023-02-21        Food          Restaurant     15.0          UPI
21 2023-02-22  Essentials           Bedsheets   1025.0         Cash
22 2023-02-23     Grocery           Chocolate     70.0          UPI
23 2023-02-24        Food              Zomato    230.0          UPI
24 2023-02-25  Essentials             Perfume   1500.0         Cash
25 2023-02-15  Essentials           Lunch Box    890.0         Cash
26 2023-02-10     Grocery           Chocolate    150.0         Cash
27 2023-02-15     Grocery               Maggi    140.0          UPI
28 2023-02-23        Food          Restaurant    780.0         Card

In [19]:
#ffill - fills the above values into NaN
print("FILLING THE NaN VALUES USING ffill:\n")
print(df.ffill())

FILLING THE NaN VALUES USING ffill:

         Date    Category       Sub-Category    Amount Payment Mode
0  2023-02-01     Grocery  Fruits and Veggies    456.0         Cash
1  2023-02-02     Grocery                Milk     26.0          UPI
2  2023-02-03        Food          Restaurant    560.0          UPI
3  2023-02-04        Food  Fruits and Veggies    660.0         Cash
4  2023-02-05        Food              Zomato    400.0          UPI
5  2023-02-06        Food              Zomato    200.0          UPI
6  2023-02-06     Grocery           Chocolate    100.0         Cash
7  2023-02-08     Grocery      Bread and Milk     56.0         Cash
8  2023-02-09     Grocery             Grocery     30.0         Cash
9  2023-02-10        Food          Restaurant   1200.0          UPI
10 2023-02-11  Essentials             Shampoo    780.0         Cash
11 2023-02-11  Essentials            Food Oil    120.0          UPI
12 2023-02-11  Essentials            Food Oil    120.0          UPI
13 2023-02-14  Essentials      Salt and Sugar     50.0         Cash
14 2023-02-15  Essentials      Salt and Sugar   1890.0          UPI
15 2023-02-17     Clothes               Dress   1000.0         Card
16 2023-02-17       Bills          House Rent  16000.0          UPI
17 2023-02-18       Bills             Mobile    1650.0          UPI
18 2023-02-19       Bills             Mobile    1074.0         Cash
19 2023-02-20     Colthes               Dress     10.0          UPI
20 2023-02-21        Food          Restaurant     15.0          UPI
21 2023-02-22  Essentials           Bedsheets   1025.0         Cash
22 2023-02-23     Grocery           Chocolate     70.0          UPI
23 2023-02-24        Food              Zomato    230.0          UPI
24 2023-02-25  Essentials             Perfume   1500.0         Cash
25 2023-02-15  Essentials           Lunch Box    890.0         Cash
26 2023-02-10     Grocery           Chocolate    150.0         Cash
27 2023-02-15     Grocery               Maggi    140.0          UPI
28 2023-02-23        Food          Restaurant    780.0         Card


**Filling the missing values with mean and median**

In [23]:
print("FILLING THE MISSING VALUES WITH MEAN:\n")
amount_avg = df["Amount"].mean()
df["Amount"] = df["Amount"].fillna(amount_avg)
print(df)
print()
print("----------------------------------------------------------------------------------------------------------------")
print("FILLING THE MISSING VALUES WITH MEDIAN:\n")
amount_median = df["Amount"].median()
df["Amount"] = df["Amount"].fillna(amount_median)
print(df)

FILLING THE MISSING VALUES WITH MEAN:

         Date    Category       Sub-Category         Amount Payment Mode
0  2023-02-01     Grocery  Fruits and Veggies    456.000000         Cash
1  2023-02-02     Grocery                Milk     26.000000          UPI
2  2023-02-03        Food          Restaurant    560.000000          UPI
3  2023-02-04        Food  Fruits and Veggies    660.000000         Cash
4  2023-02-05        Food              Zomato    400.000000          UPI
5  2023-02-06         NaN                 NaN    200.000000          UPI
6  2023-02-06     Grocery           Chocolate    100.000000         Cash
7  2023-02-08     Grocery      Bread and Milk     56.000000         Cash
8  2023-02-09     Grocery             Grocery     30.000000         Cash
9  2023-02-10        Food          Restaurant   1200.000000          UPI
10 2023-02-11  Essentials             Shampoo    780.000000         Cash
11 2023-02-11  Essentials            Food Oil    120.000000          UPI
12 2023-02-11  Essentials                 NaN   1109.357143          UPI
13 2023-02-14  Essentials      Salt and Sugar     50.000000         Cash
14 2023-02-15         NaN                 NaN   1890.000000          UPI
15 2023-02-17     Clothes               Dress   1000.000000         Card
16 2023-02-17       Bills          House Rent  16000.000000          UPI
17 2023-02-18       Bills             Mobile    1650.000000          UPI
18 2023-02-19       Bills                 NaN   1074.000000         Cash
19 2023-02-20     Colthes               Dress     10.000000          UPI
20 2023-02-21        Food          Restaurant     15.000000          UPI
21 2023-02-22  Essentials           Bedsheets   1025.000000         Cash
22 2023-02-23     Grocery           Chocolate     70.000000          UPI
23 2023-02-24        Food              Zomato    230.000000          UPI
24 2023-02-25  Essentials             Perfume   1500.000000         Cash
25 2023-02-15  Essentials           Lunch Box    890.000000         Cash
26 2023-02-10     Grocery           Chocolate    150.000000         Cash
27 2023-02-15     Grocery               Maggi    140.000000          UPI
28 2023-02-23        Food          Restaurant    780.000000         Card

----------------------------------------------------------------------------------------------------------------
FILLING THE MISSING VALUES WITH MEDIAN:

         Date    Category       Sub-Category         Amount Payment Mode
0  2023-02-01     Grocery  Fruits and Veggies    456.000000         Cash
1  2023-02-02     Grocery                Milk     26.000000          UPI
2  2023-02-03        Food          Restaurant    560.000000          UPI
3  2023-02-04        Food  Fruits and Veggies    660.000000         Cash
4  2023-02-05        Food              Zomato    400.000000          UPI
5  2023-02-06         NaN                 NaN    200.000000          UPI
6  2023-02-06     Grocery           Chocolate    100.000000         Cash
7  2023-02-08     Grocery      Bread and Milk     56.000000         Cash
8  2023-02-09     Grocery             Grocery     30.000000         Cash
9  2023-02-10        Food          Restaurant   1200.000000          UPI
10 2023-02-11  Essentials             Shampoo    780.000000         Cash
11 2023-02-11  Essentials            Food Oil    120.000000          UPI
12 2023-02-11  Essentials                 NaN   1109.357143          UPI
13 2023-02-14  Essentials      Salt and Sugar     50.000000         Cash
14 2023-02-15         NaN                 NaN   1890.000000          UPI
15 2023-02-17     Clothes               Dress   1000.000000         Card
16 2023-02-17       Bills          House Rent  16000.000000          UPI
17 2023-02-18       Bills             Mobile    1650.000000          UPI
18 2023-02-19       Bills                 NaN   1074.000000         Cash
19 2023-02-20     Colthes               Dress     10.000000          UPI
20 2023-02-21        Food          Restaurant     15.000000          UPI
21 2023-02-22  Essentials           Bedsheets   1025.000000         Cash
22 2023-02-23     Grocery           Chocolate     70.000000          UPI
23 2023-02-24        Food              Zomato    230.000000          UPI
24 2023-02-25  Essentials             Perfume   1500.000000         Cash
25 2023-02-15  Essentials           Lunch Box    890.000000         Cash
26 2023-02-10     Grocery           Chocolate    150.000000         Cash
27 2023-02-15     Grocery               Maggi    140.000000          UPI
28 2023-02-23        Food          Restaurant    780.000000         Card


**Handling Duplicate Values**

In [26]:
#checks whether the data is duplicated or not
print(df.duplicated())

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
dtype: bool

In [28]:
#check the number of duplicate rows
print(df[df.duplicated()])

Empty DataFrame
Columns: [Date, Category, Sub-Category , Amount, Payment Mode]
Index: []

In [29]:
#remove duplicates
rem_duplicates = df.drop_duplicates()
print(rem_duplicates)

         Date    Category       Sub-Category         Amount Payment Mode
0  2023-02-01     Grocery  Fruits and Veggies    456.000000         Cash
1  2023-02-02     Grocery                Milk     26.000000          UPI
2  2023-02-03        Food          Restaurant    560.000000          UPI
3  2023-02-04        Food  Fruits and Veggies    660.000000         Cash
4  2023-02-05        Food              Zomato    400.000000          UPI
5  2023-02-06         NaN                 NaN    200.000000          UPI
6  2023-02-06     Grocery           Chocolate    100.000000         Cash
7  2023-02-08     Grocery      Bread and Milk     56.000000         Cash
8  2023-02-09     Grocery             Grocery     30.000000         Cash
9  2023-02-10        Food          Restaurant   1200.000000          UPI
10 2023-02-11  Essentials             Shampoo    780.000000         Cash
11 2023-02-11  Essentials            Food Oil    120.000000          UPI
12 2023-02-11  Essentials                 NaN   1109.357143          UPI
13 2023-02-14  Essentials      Salt and Sugar     50.000000         Cash
14 2023-02-15         NaN                 NaN   1890.000000          UPI
15 2023-02-17     Clothes               Dress   1000.000000         Card
16 2023-02-17       Bills          House Rent  16000.000000          UPI
17 2023-02-18       Bills             Mobile    1650.000000          UPI
18 2023-02-19       Bills                 NaN   1074.000000         Cash
19 2023-02-20     Colthes               Dress     10.000000          UPI
20 2023-02-21        Food          Restaurant     15.000000          UPI
21 2023-02-22  Essentials           Bedsheets   1025.000000         Cash
22 2023-02-23     Grocery           Chocolate     70.000000          UPI
23 2023-02-24        Food              Zomato    230.000000          UPI
24 2023-02-25  Essentials             Perfume   1500.000000         Cash
25 2023-02-15  Essentials           Lunch Box    890.000000         Cash
26 2023-02-10     Grocery           Chocolate    150.000000         Cash
27 2023-02-15     Grocery               Maggi    140.000000          UPI
28 2023-02-23        Food          Restaurant    780.000000         Card


**GROUP BY**

In [31]:
df = pd.read_excel("E:/Vidya Career/IT JOB/Data Analyst Path/Excel/Pandas practice.xlsx")
print("DataFrame:\n\n",df)

DataFrame:

    S.No          Name        Street Food  No.of items  Amount
0     1         Arjun          Pani Puri           40     400
1     2       Phalgun          Misal Pav            4     160
2     3         Parth             Samosa            5      50
3     4        Kiriti            Kachori            9      45
4     5     Dhananjay  Paneer Manchurian            3     360
5     6  Swethavaahan          Pav Bhaji            6     300
6     7     Bheebhats        Masala Puri            2      80
7     8       Krishna           Vada Pav            6     120
8     9    Savyasachi          Bhel Puri            2      60
9    10         Vijay        Ragada Chat            5     100

In [32]:
group_by_data = df.groupby("Name")["Amount"].mean()
print(group_by_data)

Name
Arjun           400.0
Bheebhats        80.0
Dhananjay       360.0
Kiriti           45.0
Krishna         120.0
Parth            50.0
Phalgun         160.0
Savyasachi       60.0
Swethavaahan    300.0
Vijay           100.0
Name: Amount, dtype: float64


**PIVOT**

In [34]:
#rows becomes columns
pivot_val =df.pivot(index = "S.No", columns = "Street Food", values = "Amount")
print(pivot_val)

Street Food  Bhel Puri  Kachori  Masala Puri  Misal Pav  Paneer Manchurian  \
S.No
1                  NaN      NaN          NaN        NaN                NaN
2                  NaN      NaN          NaN      160.0                NaN
3                  NaN      NaN          NaN        NaN                NaN
4                  NaN     45.0          NaN        NaN                NaN
5                  NaN      NaN          NaN        NaN              360.0
6                  NaN      NaN          NaN        NaN                NaN
7                  NaN      NaN         80.0        NaN                NaN
8                  NaN      NaN          NaN        NaN                NaN
9                 60.0      NaN          NaN        NaN                NaN
10                 NaN      NaN          NaN        NaN                NaN

Street Food  Pani Puri  Pav Bhaji  Ragada Chat  Samosa  Vada Pav
S.No
1                400.0        NaN          NaN     NaN       NaN
2                  NaN        NaN          NaN     NaN       NaN
3                  NaN        NaN          NaN    50.0       NaN
4                  NaN        NaN          NaN     NaN       NaN
5                  NaN        NaN          NaN     NaN       NaN
6                  NaN      300.0          NaN     NaN       NaN
7                  NaN        NaN          NaN     NaN       NaN
8                  NaN        NaN          NaN     NaN     120.0
9                  NaN        NaN          NaN     NaN       NaN
10                 NaN        NaN        100.0     NaN       NaN


**MELT**

In [39]:
#columns becomes rows
melt_val = df.melt(id_vars = "S.No", var_name = "col_names", value_name = "row_names")
print(melt_val)

    S.No    col_names          row_names
0      1         Name              Arjun
1      2         Name            Phalgun
2      3         Name              Parth
3      4         Name             Kiriti
4      5         Name          Dhananjay
5      6         Name       Swethavaahan
6      7         Name          Bheebhats
7      8         Name            Krishna
8      9         Name         Savyasachi
9     10         Name              Vijay
10     1  Street Food          Pani Puri
11     2  Street Food          Misal Pav
12     3  Street Food             Samosa
13     4  Street Food            Kachori
14     5  Street Food  Paneer Manchurian
15     6  Street Food          Pav Bhaji
16     7  Street Food        Masala Puri
17     8  Street Food           Vada Pav
18     9  Street Food          Bhel Puri
19    10  Street Food        Ragada Chat
20     1  No.of items                 40
21     2  No.of items                  4
22     3  No.of items                  5
23     4  No.of items                  9
24     5  No.of items                  3
25     6  No.of items                  6
26     7  No.of items                  2
27     8  No.of items                  6
28     9  No.of items                  2
29    10  No.of items                  5
30     1       Amount                400
31     2       Amount                160
32     3       Amount                 50
33     4       Amount                 45
34     5       Amount                360
35     6       Amount                300
36     7       Amount                 80
37     8       Amount                120
38     9       Amount                 60
39    10       Amount                100


**MERGE**

In [36]:
students = pd.DataFrame({
    "StudentID": [1, 2, 3],
    "Name": ["Asha", "Rahul", "Sneha"]
})

marks = pd.DataFrame({
    "StudentID": [1, 2, 3],
    "Marks": [88, 75, 95]
})

merge_val = pd.merge(students, marks, on = "StudentID", how = "inner")
print(merge_val)

   StudentID   Name  Marks
0          1   Asha     88
1          2  Rahul     75
2          3  Sneha     95


**Key Takeaways**

  -- Pivot - rows becomes columns

  -- Melt - columns becomes rows

  -- Merge - combines the values