**String Manipulation**

In [15]:
a = "Sree Vidya Lakshmi"
print(len(a))  #length
print(a.lower())  #lowercase 
print(a.count('a'))  #count the number of letters
print(a.upper())  #uppercase
print(a.index('V'))   #finds the index of particular letter
print(a.capitalize()) #capitals the first letter of the string
print(a.find('L'))   #returns the position/index

18
sree vidya lakshmi
2
SREE VIDYA LAKSHMI
5
Sree vidya lakshmi
11

In [18]:
#format
name = "Siri"
a = "Hello, {}"
print(a.format(name))

Hello, Siri

In [22]:
#center
a = "Vidya"
print(a.center(15))  #gives 15 spaces before and after
print(a.center(15,'.'))

     Vidya
.....Vidya.....

**String functions**

In [44]:
x = '1.456'
y = '123'
z = '1.23'
t = "hello"
m = "Hello world"
n = " "
u = "Magic Of The Lost Temple"
print(x.isalnum()) #returns True if both alphabets and numbers are present
print(x.isalpha()) #returns True if there are alphabets 
print(z.isdecimal()) #returns True if all characters are decimals
print(y.isdigit()) #returns True if all characters are numbers
print(y.isnumeric())  #returns True if all characters are numeric
print(t.islower())  #returns True if all characters are lowercase
print(t.isupper()) #returns True if all characters are uppercase
print(m.isspace()) #returns True if all characters are whitespaces
print(n.isspace())
print(u.istitle()) #returns True if string follows the rules of a title

False
False
False
True
True
True
False
False
True
True

In [66]:
x = "Hello"
y = "  World  "
z = "#fantastic#four"
m = "Welcome. Namaste. Konnichiva"

print(x.endswith('o'))  #returns True if string ends with the specified value
print(x.endswith('h'))

print(x.startswith('H')) #returns True if string starts with the specified value
print(x.startswith('h'))
print(x.startswith('e',1,2))

print(x.swapcase()) #lower -> upper, upper -> lower

print(y.strip()) #removes the extra spaces

print(z.split('#')) #separates and prints as a list
print(m.split('.'))

print(x.ljust(20, "*"))  #returns left justified version of the string  #20 characters starts from string itself.

print(x.rjust(20, "*")) #returns right justified version of the string

print(x.replace('e', 'i'))  #replace the character with the second character

print(m.rindex('Welcome')) #searches the string for a specified value and returns the last position where it was found.
print(m.rindex("e", 3,7))
print(m.rfind('Welcome')) #works similar to rindex()

True
False
True
False
True
hELLO
World
['', 'fantastic', 'four']
['Welcome', ' Namaste', ' Konnichiva']
Hello***************
***************Hello
Hillo
0
6
0

**String Slicing***

In [80]:
a = "The Magic Of Lost Temple"
print(a)
print(a[0])
print(a[-1])
print(a[4:12])
print(a[0:6:2])
print(a[:7])
print(a[4:])
print(a[::])
print(a[::-1])
print(a[-4:])
print(a[:-8])
print(a[-4:-14:-3])

The Magic Of Lost Temple
T
e
Magic Of
TeM
The Mag
Magic Of Lost Temple
The Magic Of Lost Temple
elpmeT tsoL fO cigaM ehT
mple
The Magic Of Los
m of

**Problem Solving**

**01. Write a program to get Fibonacci series upto 10 numbers.**

In [87]:
a = 0
b = 1
n = int(input("Enter the number: "))
if n==1:
    print(n)
else:
    for i in range(2,n):
        c = a + b
        a = b
        b = c
        print(c, end = " ")

Enter the number:  11

1 2 3 5 8 13 21 34 55

**02. Write a program to check if a number if a number is prime or not.**

In [92]:
num = int(input("Enter the number: "))
if num <= 1:
    print("Not a prime number")

else:
    for i in range(2, num):
        if num%i == 0:
            print("Not a prime number")
            break
        else:
            print("Prime number")
            break

Enter the number:  1

Not a prime number

**03. Write a program to find a palindrome of integers.**

In [93]:
num = int(input("Enter the number: "))
temp = num
rev = 0

while num>0:
    dig = num%10
    rev = rev*10 + dig
    num = num//10

if rev == temp:
    print("Palindrome")
else:
    print("Not a palindrome")

Enter the number:  23132

Palindrome

**04. Write a program to create an area calculator.**

In [94]:
print("******AREA CALCULATOR******")

while True:
    print("1: Rectangle \n 2: Square \n 3 : Triangle \n 4 : Circle")

    ch = int(input("Enter number from 1 to 4: "))

    if ch == 1:
        while True:
            l = float(input("Length of rectangle: "))
            b = float(input("Breadth of rectangle: "))
            print("Area of rectangle: ", l * b)
            repeat = input("Want to calculate the area of square again? (y/n)")
            if repeat=='n' or repeat=='N':
                break
                
    
    elif ch == 2:
        while True:
            side = float(input("Enter the side of square: "))
            print("Area of square: ", side ** 2)
            repeat = input("Want to calculate the area of square again? (y/n)")
            if repeat=='n' or repeat=='N':
                break
    
    elif ch == 3:
        while True:
            base = float(input("Enter the base of triangle: "))
            height = float(input("Enter the height of triangle: "))
            print("Area of triangle: ", 0.5 * base * height)
            repeat = input("Want to calculate the area of square again? (y/n)")
            if repeat=='n' or repeat=='N':
                break
    
    elif ch == 4:
        while True:
            radius = float(input("Enter the radius of circle: "))
            print("Area of circle: ", 3.14 * radius * radius)
            repeat = input("Want to calculate the area of square again? (y/n)")
            if repeat=='n' or repeat=='N':
                break
    
    else:
        print("Invalid Choice..Try Again :) ")

    repeat_menu = input("Want to repeat the menu again? (y/n)")
    if repeat_menu == 'n' or repeat_menu == 'N':
        break

******AREA CALCULATOR******
1: Rectangle
 2: Square
 3 : Triangle
 4 : Circle

Enter number from 1 to 4:  2
Enter the side of square:  4

Area of square:  16.0

Want to calculate the area of square again? (y/n) n
Want to repeat the menu again? (y/n) n

**A = “OOTD.YOLO.ASAP.BRB.GTG.OTW”**

 **Write a program to separate the following string into comma (,) separate values.**
   
 **Write a program to sort things alphabetically.**

 **Write a program to remove a given character from the string. Z = “F.R.I.E.N.D.S.”**

 **Write a program to remove dot(.) from the string.**

 **Write a program to check the number of occurrence of substring.**

In [103]:
A = "OOTD.YOLO.ASAP.BRB.GTG.OTW"
print(A.split('.'))  #comma separated values
print(sorted(A))  #sort things alphabetically

Z = "F.R.I.E.N.D.S"  #removing the given character
print(Z.replace(".", ""))

print(A.count(

['OOTD', 'YOLO', 'ASAP', 'BRB', 'GTG', 'OTW']
['.', '.', '.', '.', '.', 'A', 'A', 'B', 'B', 'D', 'G', 'G', 'L', 'O', 'O', 'O', 'O', 'O', 'P', 'R', 'S', 'T', 'T', 'T', 'W', 'Y']
FRIENDS

**1. Take an input from the user as a string then, reverse it.**

**2. Write a program to check if a string contains only digits.**

**3. Write a program to check if a string is palindrome.**

**4. Write a program to find number of vowels in a string.**

**5. Write a program to check if every word in a string begins with a capital letter.**

In [4]:
a = "Fantastic Four"
print(a[::-1])  #reverse the string
print(a.isdigit())  #contains digits or not

ruoF citsatnaF
False

In [5]:
a = input("Enter the string: ")
rev = a[::-1]
if a == rev:
    print("It is palindrome")
else:
    print("It is not a palindrome")

Enter the string:  dad

It is palindrome

In [12]:
a = input("Enter the word: ")
vowels = 0
for i in a:
    if (i=='a' or i=='A' or i=='e' or i=='E' or i=='i' or i=='I' or i=='o' or i=='O' or i=='u' or i=='U'):
        vowels+=1
print(vowels)

Enter the word:  Fantastic Four

5

In [13]:
a = input("Enter any word: ")  #every word starts with capital letter
print(a.istitle())

Enter any word:  Fantastic Four

True


***-------------------------------------------------------------------------------------***

**Lists**

In [14]:
a = ["Vidya", "Ram", "Vijay", "Pradeep"]
print(a, type(a))

['Vidya', 'Ram', 'Vijay', 'Pradeep'] <class 'list'>

**Slicing lists**

In [24]:
a = ["Vidya", "Ram", "Vijay", "Pradeep"]
print(a[0:4])
print(a[0:])
print(a[:4])
print(a[2:4])
print(a[::])
print(a[::-1])
print(a[-1:-4:-1])

['Vidya', 'Ram', 'Vijay', 'Pradeep']
['Vidya', 'Ram', 'Vijay', 'Pradeep']
['Vidya', 'Ram', 'Vijay', 'Pradeep']
['Vijay', 'Pradeep']
['Vidya', 'Ram', 'Vijay', 'Pradeep']
['Pradeep', 'Vijay', 'Ram', 'Vidya']
['Pradeep', 'Vijay', 'Ram']

**List Iteration**


***for loop iteration***

In [26]:
a = ["Vidya", "Ram", "Vijay", "Pradeep"]
for i in a:
    print(a)

['Vidya', 'Ram', 'Vijay', 'Pradeep']
['Vidya', 'Ram', 'Vijay', 'Pradeep']
['Vidya', 'Ram', 'Vijay', 'Pradeep']
['Vidya', 'Ram', 'Vijay', 'Pradeep']


***for loop with range and len***

In [28]:
a = ["Vidya", "Ram", "Vijay", "Pradeep"]
for i in range(len(a)):
    print(i, a[i])

0 Vidya
1 Ram
2 Vijay
3 Pradeep


***while loop iteration**

In [29]:
a = ["Vidya", "Ram", "Vijay", "Pradeep"]
i = 0
while i<len(a):
    print(a[i])
    i+=1

Vidya
Ram
Vijay
Pradeep

***Using shorthand for loop***

In [30]:
[print(i) for i in a]

Vidya
Ram
Vijay
Pradeep

[None, None, None, None]


**List functions**

In [36]:
a = ["Vidya", "Ram", "Vijay", "Pradeep"]
print(len(a)) #length of the list
print(a.count("Vidya"))  #counts the occurrence

a.append("Siri")
print(a) #adds the element at the end of the list

a.insert(2, "Sree")
print(a)  #Inserts at a particular position

a.remove("Siri")
print(a)  #removes the given element

a.pop(0)
print(a)  #removes the element based on the location/index

4
1
['Vidya', 'Ram', 'Vijay', 'Pradeep', 'Siri']
['Vidya', 'Ram', 'Sree', 'Vijay', 'Pradeep', 'Siri']
['Vidya', 'Ram', 'Sree', 'Vijay', 'Pradeep']
['Ram', 'Sree', 'Vijay', 'Pradeep']

In [43]:
a = ["Vidya", "Ram", "Vijay", "Pradeep"]
b = a.copy()  #copies the list
print(b)

print(a.index("Vidya"))  #returns the index of particular element.

c = ["sree", "lakshmi"]
a.extend(c)  #adds multiple new elements
print(a)

a.reverse()  #Reverses the list
print(a)  

a.sort()
print(a)  #Sorts alphabetically

a.clear()  #Clears the entire list
print(a)

['Vidya', 'Ram', 'Vijay', 'Pradeep']
0
['Vidya', 'Ram', 'Vijay', 'Pradeep', 'sree', 'lakshmi']
['lakshmi', 'sree', 'Pradeep', 'Vijay', 'Ram', 'Vidya']
['Pradeep', 'Ram', 'Vidya', 'Vijay', 'lakshmi', 'sree']
[]


**List Comprehensions**

In [48]:
# l1 = [2,5,6,7]
# l2 = []
# for i in l1:
#     if i>3:
#         l2.append(i)
# print(l1)
# print(l2)

#List comprehension for this code
l1 = [2,4,5,6,10]
li = [i for i in l1 if i>4]
print(li)

[5, 6, 10]



**Problem Solving**

***A = [”Ross”, “Rachel”, “Monica”, “Joe”]***

***1. Program to swap first and forth element.***

***2. Program to add a new value at 2nd position.***

***3. Program to delete a value from 3rd position.***

In [49]:
A = ["Ross", "Rachel", "Monica", "Joe"]
A[0], A[3] = A[3], A[0]  #swapping the first and forth element.
print(A)

['Joe', 'Rachel', 'Monica', 'Ross']

In [50]:
A = ["Ross", "Rachel", "Monica", "Joe"]
A.insert(1, "Simon")  #inserts element at 2nd position
print(A)

['Ross', 'Simon', 'Rachel', 'Monica', 'Joe']

In [51]:
A = ["Ross", "Rachel", "Monica", "Joe"]
A.pop(2) #delete value from 3rd position
print(A)

['Ross', 'Rachel', 'Joe']


***B = [13,7,12,10]***

***1. Program to multiply all numbers in the list.***

***2. Program to get the largest number from the list.***

***3. Program to get the smallest number from the list.***

In [1]:
B = [13,7,12,10]
mul = 1
for i in (B):
    mul *= i
print(mul)

10920

In [5]:
B = [13,7,12,10]
B.sort()
print("Largest:", B[-1])
print("Smallest:", B[0])

Largest: 13
Smallest: 7




**Tuples**

In [7]:
a = ("vidya", "pradeep", "vijay", "ram", 8.8, 45, True)
print(a)
print(type(a))

('vidya', 'pradeep', 'vijay', 'ram', 8.8, 45, True)
<class 'tuple'>

In [8]:
b = ("siri")
print(type(b))

c = ("siri",)
print(type(c))

<class 'str'>
<class 'tuple'>


**Slicing and iteration in tuples**

In [15]:
#Slicing
a = ("vidya", "pradeep", "vijay", "ram", 8.8, 45, True)
print(a[5:8])
print(a[::])
print(a[:7])
print(a[4:])
print(a[-1:-6:-1])
print(a[::-1])

(45, True)
('vidya', 'pradeep', 'vijay', 'ram', 8.8, 45, True)
('vidya', 'pradeep', 'vijay', 'ram', 8.8, 45, True)
(8.8, 45, True)
(True, 45, 8.8, 'ram', 'vijay')
(True, 45, 8.8, 'ram', 'vijay', 'pradeep', 'vidya')


***Iteration with for loop***

In [16]:
a = ("vidya", "pradeep", "vijay", "ram", 8.8, 45, True)
for i in a:
    print(i)

vidya
pradeep
vijay
ram
8.8
45
True


***Iteration with range and len of for loop***

In [18]:
a = ("vidya", "pradeep", "vijay", "ram", 8.8, 45, True)

for i in range(len(a)):
    print(i, a[i])

0 vidya
1 pradeep
2 vijay
3 ram
4 8.8
5 45
6 True


***Iteration with while loop***

In [19]:
a = ("vidya", "pradeep", "vijay", "ram", 8.8, 45, True)
i = 0
while i<len(a):
    print(a[i])
    i+=1

vidya
pradeep
vijay
ram
8.8
45
True



**Conversion of Tuples and Tuple Functions**

In [22]:
a = ("vidya", "pradeep", "vijay", "ram")
print(a)
print("Before conversion: ", type(a))

a = list(a)
print("After conversion: ", type(a))

a.append("sambrama")
print(a)
a = tuple(a)
print(a, type(a))

('vidya', 'pradeep', 'vijay', 'ram')
Before conversion:  <class 'tuple'>
After conversion:  <class 'list'>
['vidya', 'pradeep', 'vijay', 'ram', 'sambrama']
('vidya', 'pradeep', 'vijay', 'ram', 'sambrama') <class 'tuple'>

In [23]:
a = ('vidya', 'pradeep', 'vijay', 'ram', 'sambrama')
print(a.count('pradeep'))  #counts the number of time the element is repeating
print(a.index('vijay'))  #gives the index/position of given element

1
2


**-------------------------------------------------------------------**
**Dictionary**

In [25]:
Emp_data = {"name":"Vidya", "age":21, "gender":"female"}
print(Emp_data)
print(Emp_data["age"])

{'name': 'Vidya', 'age': 21, 'gender': 'female'}
21


**Iteration in dictionary**

In [27]:
Emp_data = {"name":"Vidya", "age":21, "gender":"female"}

#printing all key names
for i in Emp_data:
    print(i)
    print(Emp_data[i]) #printing all values

name
Vidya
age
21
gender
female

In [29]:
#using value function
Emp_data = {"name":"Vidya", "age":21, "gender":"female"}

for i in Emp_data.values():
    print(i)

Vidya
21
female

In [31]:
#using items function
#for both keys and values
Emp_data = {"name":"Vidya", "age":21, "gender":"female"}
for x, y in Emp_data.items():
    print(x, "=>", y)

name => Vidya
age => 21
gender => female



**Dictionary Functions**

In [36]:
Emp_data = {"name":"Vidya", "age":21, "gender":"female"}

x = Emp_data.get("name")  #fetches single value
print(x)

y = Emp_data.items() #Gives the dictionary values in the form of tuple
print(y)

z = Emp_data.keys() #Gives the keys
print(z)

m = Emp_data.values() #Gives the values
print(m)

n = Emp_data.copy() #Copies the dictionary
print(n)

Vidya
dict_items([('name', 'Vidya'), ('age', 21), ('gender', 'female')])
dict_keys(['name', 'age', 'gender'])
dict_values(['Vidya', 21, 'female'])
{'name': 'Vidya', 'age': 21, 'gender': 'female'}


**Nested Dictionaries**

In [45]:
Students = {1:{"name":"vidya", "age":21, "gender":"female"},
            2:{"name":"vijay", "age":21, "gender":"male"},
            3:{"name":"pradeep", "age":21, "gender":"male"},
            4:{"name":"ram", "age":21, "gender":"male"},
            5:{"name":"sambrama", "age":21, "gender":"female"},
            6:{"name":"sravani", "age":27, "gender":"female"}}
print(Students)
print(Students[2])
print(Students[6]["name"])

{1: {'name': 'vidya', 'age': 21, 'gender': 'female'}, 2: {'name': 'vijay', 'age': 21, 'gender': 'male'}, 3: {'name': 'pradeep', 'age': 21, 'gender': 'male'}, 4: {'name': 'ram', 'age': 21, 'gender': 'male'}, 5: {'name': 'sambrama', 'age': 21, 'gender': 'female'}, 6: {'name': 'sravani', 'age': 27, 'gender': 'female'}}
{'name': 'vijay', 'age': 21, 'gender': 'male'}
sravani


**Problem Solving**

***1. Program to sort a dictionary by value.***

In [47]:
a = {"a":23, "b":34, "c":67, "d":54}
a = sorted(a.values())
print(a)

[23, 34, 54, 67]


***2. Program to print a dictionary where keys are numbers between 1 and 15 and values are squares of keys.***

In [48]:
a = {}
for i in range(1, 16):
    a[i] = i**2
print(a)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}


***3. Program to multiply all items in a dictionary.***

In [50]:
a = {"a":1, "b":2, "c":3, "d":4}
mul = 1

for i in a:
    mul*=a[i]
print(mul)

24


***4. Program to sort a dictionary by key.***

In [51]:
a = {"a":1, "b":2, "c":3, "d":4}
a = sorted(a.keys())
print(a)

['a', 'b', 'c', 'd']



**Sets**

In [52]:
a = {"vidya", "pradeep", "vijay", "ram"}
print(a)
print(type(a))

{'pradeep', 'vijay', 'vidya', 'ram'}
<class 'set'>

In [53]:
#Iteration
a = {"vidya", "pradeep", "vijay", "ram"}
for i in a:
    print(i)

pradeep
vijay
vidya
ram


**Set Functions**

In [58]:
a = {"sambrama","vidya", "pradeep", "vijay", "ram"}

a.add("sravani")  #adds the element anywhere in the set
print(a)

a.pop() #removes any element
print(a)

a = {"sambrama","vidya", "pradeep", "vijay", "ram"}
a.remove("vidya")  #removes given element
print(a)

a.discard("sambrama")
print(a)

b = a.copy() #copies the set
print(b)

{'pradeep', 'vijay', 'ram', 'sravani', 'vidya', 'sambrama'}
{'vijay', 'ram', 'sravani', 'vidya', 'sambrama'}
{'pradeep', 'vijay', 'ram', 'sambrama'}
{'pradeep', 'vijay', 'ram'}
{'pradeep', 'vijay', 'ram'}

In [71]:
a = {"vidya", "pradeep", "vijay", "ram"}
b = {"sravani", "sambrama", "lakshmi"}
c = {"vijay", "pradeep"}

#checks if the elements of 2nd set is present in 1st set. Returns True if no same elements.
print(a.isdisjoint(b))
print(a.isdisjoint(c))

#checks whether it is a subset
print(c.issubset(b))
print(c.issubset(a))

#checks whether it is a superset
print(b.issuperset(a))
print(a.issuperset(c))

#unions the sets and removes the duplicates
a.update(c)
print(a)

#clears the entire set
a.clear()
print(a)

True
False
False
True
False
True
{'pradeep', 'vijay', 'vidya', 'ram'}
set()

In [87]:
a = {"vidya", "pradeep", "vijay", "ram"}
b = {"sravani", "sambrama", "lakshmi"}
c = {"vijay", "pradeep"}
 
print(a.union(c)) #combines both sets and removes the duplicate elements

print(a.difference(c)) #removes the common elements and display non-common elements

a.difference_update(c)
print(a)

a = {"vidya", "pradeep", "vijay", "ram"}
b = {"sravani", "sambrama", "lakshmi"}
c = {"vijay", "pradeep"}
print(a.intersection(b))  #Gives the common elements
print(a.intersection(c))

a.intersection_update(c)
print(a)

a = {"vidya", "pradeep", "vijay", "ram"}
b = {"sravani", "sambrama", "lakshmi", "vidya"}
c = {"vijay", "pradeep"}

a.symmetric_difference(b)
print(a)
a.symmetric_difference_update(b)
print(a)

{'pradeep', 'vijay', 'vidya', 'ram'}
{'vidya', 'ram'}
{'vidya', 'ram'}
set()
{'vijay', 'pradeep'}
{'vijay', 'pradeep'}
{'pradeep', 'vijay', 'vidya', 'ram'}
{'pradeep', 'vijay', 'sravani', 'sambrama', 'lakshmi', 'ram'}



**Problem Solving**


***01. Program to find max and min in a set.***

In [89]:
a = {10, 3, 67, 99, 2}
maximum = max(a)
minimum = min(a)
print("Maximum value: ", maximum)
print("Minimum value: ", minimum)

Maximum value:  99
Minimum value:  2


***02. Program to find common elements in 3 lists using sets.***

In [90]:
a = {10, 3, 67, 99, 23, 45}
b = {4, 6, 2, 79, 45}
c = {45, 23, 76}
print(set(a)&set(b)&set(c))

{45}


***03. Program to find difference between 2 sets.***

In [91]:
a = {10, 3, 67, 99, 23, 45}
b = {4, 6, 2, 79, 45}
print(a.difference(b))

{3, 67, 99, 10, 23}


***04. Program to remove an item from a set if it is present in the set.***

In [93]:
a = {10, 3, 67, 99, 23, 45}
print(a.discard(3))
print(a)

None
{99, 67, 23, 10, 45}


***05. Program to check if a set is superset of another set.***

In [94]:
a = {10, 3, 67, 99, 23, 45}
b = {4, 6, 2, 79, 45}
print(a.issuperset(b))
print(b.issuperset(a))

False
False



**Key Markdowns**
-Learnt string manipulations.
- Learned tuples, dictionaries, and sets
- Practiced iteration and nested data structures
- Solved basic data-structure problems