**Loops**

**for loop**

In [2]:
for i in range(1, 4):
    print(i, end = " ")

1 2 3

In [3]:
for i in range(1, 5, 2):
    print(i, end = " ")

1 3

In [4]:
for i in range(6):
    print(i, end = " ")

0 1 2 3 4 5

**while loop**

In [2]:
n = 3

while n<=6:
    print(n, end = " ")
    n += 1

3 4 5 6

In [3]:
#Multiplication table using while loop

n = 1
num = int(input("Enter the numnber you want as a table: "))

while n <= 10:
    print(num, "x", n, "=", n*num)
    n += 1

Enter the numnber you want as a table:  4

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

**while True**

In [5]:
while True:
    a = int(input("Num 1: "))
    b = int(input("Num 2: "))
    print("Sum: ", a + b)

    repeat = input("Do you want to stop here?")
    if repeat == "yes":
        break

Num 1:  10
Num 2:  22

Sum:  32

Do you want to stop here? yes

**Nested loops**

In [12]:
for i in range(1,4):
    for j in range(1,11):
        print(j, end = " ")
    print()

1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10

In [13]:
for i in range(1, 6): #rows
    for j in range(1, i+1):  #columns should increase
        print(j, end = " ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

**for loop with conditional statments**

In [1]:
for i in range(1, 11):
    if i == 3:
        print("Favourite")
    else:
        print(i, end = " ")

1 2 Favourite
4 5 6 7 8 9 10

In [4]:
for i in range(1, 46):
    if (i % 8 ==0 and i % 12 == 0):
        print(i, end = " ")

24

In [6]:
i = 1
while i<=10:
    if i%3 == 1 :
        print(i, end = " ")
    i += 1

1 4 7 10

**break statement**

In [1]:
for i in range(1, 11):
    if i==7:
        break
    else:
        print(i, end = " ")

1 2 3 4 5 6

**continue statement**

In [8]:
for i in range(1, 11):
    if i==7:
        continue
    else:
        print(i, end = " ")

1 2 3 4 5 6 8 9 10

**PROBLEM SOLVING**

**01. Write a program to find a sum of all the even numbers upto 50.**

In [12]:
sum = 0
for i in range(1, 51):
    if (i%2 ==0):
        sum+=i
print(sum)

650

**02. Write a program to write first 20 numbers and their squared numbers.**

In [13]:
for i in range(1, 21):
    print("Number: ", i, "Squared number: ", i**2)

Number:  1 Squared number:  1
Number:  2 Squared number:  4
Number:  3 Squared number:  9
Number:  4 Squared number:  16
Number:  5 Squared number:  25
Number:  6 Squared number:  36
Number:  7 Squared number:  49
Number:  8 Squared number:  64
Number:  9 Squared number:  81
Number:  10 Squared number:  100
Number:  11 Squared number:  121
Number:  12 Squared number:  144
Number:  13 Squared number:  169
Number:  14 Squared number:  196
Number:  15 Squared number:  225
Number:  16 Squared number:  256
Number:  17 Squared number:  289
Number:  18 Squared number:  324
Number:  19 Squared number:  361
Number:  20 Squared number:  400

**03. Write a program to find sum of first 10 odd numbers using while loop.**

In [16]:
num = 1
sum = 0

while num<=20:
    if num%2 != 0:
        sum += num
    num += 1
print(sum)

100

**04. Write a program to check if a number is divisible by 8 and 12 upto 100 numbers.**

In [18]:
for i in range(1, 101):
    if (i%8 == 0 and i%12 == 0):
        print(i, end = " ")

24 48 72 96

**05. Write a program to create a billing system at supermarket.**

In [19]:
print("Welcome to supermarket billing..")

while True:
    name = input("Enter customer's name: ")
    total = 0

    while True:
        print("Enter the amount and quantity: ")
        amount = float(input("Enter amount: "))
        qty = float(input("Enter quantity: "))
        total += amount*qty

        repeat = input("Add more items? (y/n) ")
        if repeat == 'n' or repeat == 'N':
            break
    print("=" * 30)
    print("Name: ", name)
    print("Amount to be paid: ", amount)
    print("Thank You")

    rep1 = input("Do you want to go to next customer? (y/n) ")
    if rep1 == "n" or rep1=="N":
        break

Welcome to supermarket billing..

Enter customer's name:  Siri

Enter the amount and quantity:

Enter amount:  45
Enter quantity:  2
Add more items? (y/n)  n

==============================
Name:  Siri
Amount to be paid:  45.0
Thank You

Do you want to go to next customer? (y/n)  n

**Pattern Loops**

In [23]:
for i in range(1, 6):
    for j in range(5, i, -1):   #starts with 4 and move backwards till 1
        print(" ", end = " ")
    for k in range(i):
        print("*", end = " ")
    print()

        *
      * *
    * * *
  * * * *
* * * * *

In [24]:
for i in range(1, 6):
    for j in range(i, 0, -1):
        print(j, end = " ")
    print()

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

In [25]:
for i in range(1,6):
    for j in range(0,6-i):
        print(i,end=" ")
    print()

1 1 1 1 1
2 2 2 2
3 3 3
4 4
5

In [26]:
for i in range(1,6):
    print("  "*(5-i),"* "*i)

         *
       * *
     * * *
   * * * *
 * * * * *

In [27]:
n = 5

for i in range(1, 2*n):
    if i <= n:
        print("* " * i)
    else:
        print("* " * (2*n - i))

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [28]:
for i in range(1,9):
    for j in range(1,i+1):
        print(i*j,end=" ")
    print()

1
2 4
3 6 9
4 8 12 16
5 10 15 20 25
6 12 18 24 30 36
7 14 21 28 35 42 49
8 16 24 32 40 48 56 64

**Key Markdown**

-- for loop is used for a particular range of numbers.

-- while loop is used to run the loop infinitely.