# GROUP BY AND aggregation

## Question Definition

- The goal is to identify the best-performing category.
- Performance is measured using total revenue (business impact).
- Revenue reflects both price and quantity sold.
- This helps identify categories driving the most value.

In [1]:
#Loading the cleaned and transformed dataset
import pandas as pd

data = pd.read_csv("cleaned_data_superstore.csv")
print(data)

        invoice-id stock-code                         description  qty  \
0           581587      22726          ALARM CLOCK BAKELIKE GREEN    4
1           581587      22899        CHILDREN'S APRON DOLLY GIRL     6
2           581587      22727           ALARM CLOCK BAKELIKE RED     4
3           581587      22138       BAKING SET 9 PIECE RETROSPOT     3
4           581587      22367     CHILDRENS APRON SPACEBOY DESIGN    8
...            ...        ...                                 ...  ...
397919      579885      22597      MUSICAL ZINC HEART DECORATION    11
397920      579885      22602   RETROSPOT WOODEN HEART DECORATION   10
397921      579885      22530     MAGIC DRAWING SLATE DOLLY GIRL     2
397922      579885      22536          MAGIC DRAWING SLATE PURDEY    3
397923      579885      22219  LOVEBIRD HANGING DECORATION WHITE     6

               invoice-date  unit-price  cust-id         country  total  \
0       2011-12-09 12:50:00           3    12680          France     12
1       2011-12-09 12:50:00           2    12680          France     12
2       2011-12-09 12:50:00           3    12680          France     12
3       2011-12-09 12:50:00           4    12680          France     12
4       2011-12-09 12:50:00           1    12680          France      8
...                     ...         ...      ...             ...    ...
397919                  NaN           0    15444  United Kingdom      0
397920                  NaN           0    15444  United Kingdom      0
397921                  NaN           0    15444  United Kingdom      0
397922                  NaN           0    15444  United Kingdom      0
397923                  NaN           0    15444  United Kingdom      0

       value_flag
0       Low Value
1       Low Value
2       Low Value
3       Low Value
4       Low Value
...           ...
397919  Low Value
397920  Low Value
397921  Low Value
397922  Low Value
397923  Low Value

[397924 rows x 10 columns]

C:\Users\vidya\AppData\Local\Temp\ipykernel_4860\759691011.py:4: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv("cleaned_data_superstore.csv")

In [2]:
#converting the dataset into DataFrame
df = pd.DataFrame(data)
print(df)

        invoice-id stock-code                         description  qty  \
0           581587      22726          ALARM CLOCK BAKELIKE GREEN    4
1           581587      22899        CHILDREN'S APRON DOLLY GIRL     6
2           581587      22727           ALARM CLOCK BAKELIKE RED     4
3           581587      22138       BAKING SET 9 PIECE RETROSPOT     3
4           581587      22367     CHILDRENS APRON SPACEBOY DESIGN    8
...            ...        ...                                 ...  ...
397919      579885      22597      MUSICAL ZINC HEART DECORATION    11
397920      579885      22602   RETROSPOT WOODEN HEART DECORATION   10
397921      579885      22530     MAGIC DRAWING SLATE DOLLY GIRL     2
397922      579885      22536          MAGIC DRAWING SLATE PURDEY    3
397923      579885      22219  LOVEBIRD HANGING DECORATION WHITE     6

               invoice-date  unit-price  cust-id         country  total  \
0       2011-12-09 12:50:00           3    12680          France     12
1       2011-12-09 12:50:00           2    12680          France     12
2       2011-12-09 12:50:00           3    12680          France     12
3       2011-12-09 12:50:00           4    12680          France     12
4       2011-12-09 12:50:00           1    12680          France      8
...                     ...         ...      ...             ...    ...
397919                  NaN           0    15444  United Kingdom      0
397920                  NaN           0    15444  United Kingdom      0
397921                  NaN           0    15444  United Kingdom      0
397922                  NaN           0    15444  United Kingdom      0
397923                  NaN           0    15444  United Kingdom      0

       value_flag
0       Low Value
1       Low Value
2       Low Value
3       Low Value
4       Low Value
...           ...
397919  Low Value
397920  Low Value
397921  Low Value
397922  Low Value
397923  Low Value

[397924 rows x 10 columns]

In [3]:
df.isnull().sum()

invoice-id           0
stock-code           0
description          0
qty                  0
invoice-date    229275
unit-price           0
cust-id              0
country              0
total                0
value_flag           0
dtype: int64


**Group the data by category**

In [7]:
#groups the rows by cust-id 
#takes the unit-price within each cust-id
#averages the unit-prices for cust-id
df['average-unit-price'] = df.groupby("cust-id")["unit-price"].transform('mean')
df['average-unit-price'] 

df.columns

Index(['invoice-id', 'stock-code', 'description', 'qty', 'invoice-date',
       'unit-price', 'cust-id', 'country', 'total', 'value_flag',
       'average-unit-price'],
      dtype='object')

In [8]:
df['average-unit-price']

0         3.057692
1         3.057692
2         3.057692
3         3.057692
4         3.057692
            ...
397919    2.196347
397920    2.196347
397921    2.196347
397922    2.196347
397923    2.196347
Name: average-unit-price, Length: 397924, dtype: float64

## Insight
- The average unit price was calculated for each customer.
- This shows the typical price level at which each customer purchases.
- Customers with higher average prices may represent premium buyers.
- This insight helps in identifying pricing sensitivity and customer segments.

In [11]:
#sorting the data based on average-unit-price in descending order
df = df.sort_values(by='average-unit-price', ascending=False)
df

,invoice-id,stock-code,description,qty,invoice-date,unit-price,cust-id,country,total,value_flag,average-unit-price
303751,566927,M,Manual,1,NaN,2033,17846,United Kingdom,2033,Low Value,2033.0
342873,572423,M,Manual,1,NaN,464,16742,United Kingdom,464,Low Value,464.0
273467,560651,M,Manual,1,NaN,451,15802,United Kingdom,451,Low Value,451.0
94454,556444,22502,PICNIC BASKET WICKER 60 PIECES,60,2011-06-10 15:28:00,649,15098,United Kingdom,38940,High Value,434.0
94455,556442,22502,PICNIC BASKET WICKER SMALL,60,2011-06-10 15:22:00,4,15098,United Kingdom,240,Low Value,434.0
...,...,...,...,...,...,...,...,...,...,...,...
45475,570407,22197,POPCORN HOLDER,100,2011-10-10 12:52:00,0,17186,United Kingdom,0,Low Value,0.0
247644,554868,22197,SMALL POPCORN HOLDER,4300,NaN,0,13135,United Kingdom,0,Low Value,0.0
272974,560582,17096,ASSORTED LAQUERED INCENSE HOLDERS,291,NaN,0,12875,United Kingdom,0,Low Value,0.0
273108,560599,18007,ESSENTIAL BALM 3.5g TIN IN ENVELOPE,3186,NaN,0,14609,United Kingdom,0,Low Value,0.0
313492,567939,23058,CHRISTMAS HANGING SNOWFLAKE,12,NaN,0,16715,United Kingdom,0,Low Value,0.0

## Insight

- Customers are ranked by their average unit price in descending order.
- A small group of customers consistently pays higher prices, indicating premium buying behavior.
- These customers likely contribute higher margins despite possibly lower volumes.
- The business can prioritize retention and premium offerings for this segment.

In [12]:
#sorting the data based on total in descending order
df = df.sort_values(by='total', ascending=False)
df

,invoice-id,stock-code,description,qty,invoice-date,unit-price,cust-id,country,total,value_flag,average-unit-price
472,581483,23843,"PAPER CRAFT , LITTLE BIRDIE",80995,2011-12-09 09:15:00,2,16446,United Kingdom,161990,High Value,1.333333
180688,541431,23166,MEDIUM CERAMIC TOP STORAGE JAR,74215,NaN,1,12346,United Kingdom,74215,High Value,1.000000
94454,556444,22502,PICNIC BASKET WICKER 60 PIECES,60,2011-06-10 15:28:00,649,15098,United Kingdom,38940,High Value,434.000000
115347,551697,POST,POSTAGE,1,2011-05-03 13:46:00,8142,16029,United Kingdom,8142,High Value,35.454545
308326,567423,23243,SET OF TEA COFFEE SUGAR TINS PANTRY,1412,NaN,5,17450,United Kingdom,7060,High Value,3.026706
...,...,...,...,...,...,...,...,...,...,...,...
270500,560281,22535,MAGIC DRAWING SLATE BUNNIES,2,NaN,0,17984,United Kingdom,0,Low Value,1.520833
270501,560281,85116,BLACK CANDELABRA T-LIGHT HOLDER,1,NaN,0,17984,United Kingdom,0,Low Value,1.520833
270515,560281,22536,MAGIC DRAWING SLATE PURDEY,2,NaN,0,17984,United Kingdom,0,Low Value,1.520833
63714,566190,85203,HANGING WOOD AND FELT BUTTERFLY,10,2011-09-09 13:20:00,0,12748,United Kingdom,0,Low Value,2.103786
313492,567939,23058,CHRISTMAS HANGING SNOWFLAKE,12,NaN,0,16715,United Kingdom,0,Low Value,0.000000

In [14]:
df['invoice-date'].isnull()

472       False
180688     True
94454     False
115347    False
308326     True
          ...
270500     True
270501     True
270515     True
63714     False
313492     True
Name: invoice-date, Length: 397924, dtype: bool

In [15]:
df['invoice-date'].isnull().sum()

229275

In [16]:
df.dropna()

,invoice-id,stock-code,description,qty,invoice-date,unit-price,cust-id,country,total,value_flag,average-unit-price
472,581483,23843,"PAPER CRAFT , LITTLE BIRDIE",80995,2011-12-09 09:15:00,2,16446,United Kingdom,161990,High Value,1.333333
94454,556444,22502,PICNIC BASKET WICKER 60 PIECES,60,2011-06-10 15:28:00,649,15098,United Kingdom,38940,High Value,434.000000
115347,551697,POST,POSTAGE,1,2011-05-03 13:46:00,8142,16029,United Kingdom,8142,High Value,35.454545
144723,540815,21108,FAIRY CAKE FLANNEL ASSORTED COLOUR,3114,2011-01-11 12:55:00,2,15749,United Kingdom,6228,High Value,2.600000
144694,540818,48185,DOORMAT FAIRY CAKE,670,2011-01-11 12:57:00,6,15749,United Kingdom,4020,Low Value,2.600000
...,...,...,...,...,...,...,...,...,...,...,...
28008,574883,22818,CARD CHRISTMAS VILLAGE,12,2011-11-07 13:56:00,0,14623,United Kingdom,0,Low Value,2.552239
20290,575694,85172,HYACINTH BULB T-LIGHT CANDLES,16,2011-11-10 16:38:00,0,12748,United Kingdom,0,Low Value,2.103786
63716,566190,20724,RED RETROSPOT CHARLOTTE BAG,10,2011-09-09 13:20:00,0,12748,United Kingdom,0,Low Value,2.103786
130025,545979,20723,STRAWBERRY CHARLOTTE BAG,7,2011-03-08 12:30:00,0,12748,United Kingdom,0,Low Value,2.103786
63714,566190,85203,HANGING WOOD AND FELT BUTTERFLY,10,2011-09-09 13:20:00,0,12748,United Kingdom,0,Low Value,2.103786

In [19]:
df.shape

(397924, 11)

In [21]:
df['individual-qty'] = df.groupby("stock-code")["qty"].transform('sum')
df['individual-qty']

472       80995
180688    77916
94454      1488
115347     3120
308326     4663
          ...
270500     1716
270501      694
270515     4721
63714       570
313492      486
Name: individual-qty, Length: 397924, dtype: int64

In [22]:
df.columns

Index(['invoice-id', 'stock-code', 'description', 'qty', 'invoice-date',
       'unit-price', 'cust-id', 'country', 'total', 'value_flag',
       'average-unit-price', 'individual-qty'],
      dtype='object')

In [23]:
df = df.sort_values(by='individual-qty', ascending=False)
df

,invoice-id,stock-code,description,qty,invoice-date,unit-price,cust-id,country,total,value_flag,average-unit-price,individual-qty
472,581483,23843,"PAPER CRAFT , LITTLE BIRDIE",80995,2011-12-09 09:15:00,2,16446,United Kingdom,161990,High Value,1.333333,80995
252487,556892,23166,MEDIUM CERAMIC TOP STORAGE JAR,12,NaN,1,17581,United Kingdom,12,Low Value,2.534091,77916
66862,565776,23166,MEDIUM CERAMIC TOP STORAGE JAR,48,2011-09-06 14:38:00,1,15311,United Kingdom,48,Low Value,1.955023,77916
275600,560916,23166,MEDIUM CERAMIC TOP STORAGE JAR,48,NaN,1,14911,EIRE,48,Low Value,4.014797,77916
242488,554098,23166,MEDIUM CERAMIC TOP STORAGE JAR,6,NaN,1,14769,United Kingdom,6,Low Value,2.137615,77916
...,...,...,...,...,...,...,...,...,...,...,...,...
160388,537335,35597A,DUSTY PINK CHRISTMAS TREE 30CM,1,2010-12-06 12:15:00,1,15048,United Kingdom,1,Low Value,1.958763,1
46571,570241,90071,RUBY GLASS CLUSTER EARRINGS,1,2011-10-09 15:24:00,1,14801,United Kingdom,1,Low Value,1.932203,1
198798,544677,21414,SCALLOP SHELL SOAP DISH,1,NaN,2,18196,United Kingdom,2,Low Value,1.652482,1
385199,578531,90011A,MIDNIGHT BLUE CRYSTAL DROP EARRINGS,1,NaN,2,17364,United Kingdom,2,Low Value,2.119221,1
222693,550033,20703,BLUE PADDED SOFT MOBILE,1,NaN,4,15005,United Kingdom,4,Low Value,1.715818,1

In [24]:
df.shape

(397924, 12)

In [25]:
#saving the dataframe
df.to_csv("cleaned_data_superstore.csv", index=False)

## Summary
- GroupBy and aggregation techniques were used to answer key performance questions.
- The analysis identified top and low performers using meaningful metrics and clear sorting.
- Insights were documented to support business-focused decision making.